* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.card {
  max-width: 35rem;
  max-height: max-content;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin: 1.75rem auto;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  padding: 4.5rem;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.1); /* warna latar belakang putih dengan transparansi 10% */
  backdrop-filter: blur(10px); /* mengaburkan elemen di belakang */
  padding: 1rem;
  border-radius: 16px;
  margin-bottom: 5rem;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 20px;
  flex: 1;
  font-size: 18px;
}

.search #searchBtn {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: -5rem;
  cursor: pointer;
}

.search #currentBtn {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search #searchBtn img {
  width: 1.75rem;
}

.search #currentBtn img {
  width: 3rem;
}

.weather {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  width: 12rem;
  margin: 2rem 0;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 80px;
  font-weight: 400;
  margin-top: -1rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  padding: 0.5rem 20px;
  margin-top: 10rem;
  background: rgba(63, 154, 220, 0.463);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.details-wrap {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  border: 1px solid red;
  max-width: 27.5rem;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col .humidity:last-child {
  padding-right: 30px;
  padding-left: 10px;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.col .humidity,
.wind {
  font-size: 1.25rem;
}

.weather {
  display: none;
}

.error {
  margin-top: 1rem;
  text-align: left;
  padding-left: 1rem;
  display: none;
}

@media only screen and (max-width: 600px) {
  .card {
    padding: 1rem;
    margin: 2rem auto;
    width: max-content;
    background-position: cover;
  }
  .search {
    width: 20rem;
    margin: 0 auto;
  }

  .search input {
    width: 100%;
  }

  .search button {
    width: 4rem;
  }

  .weather h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }

  .weather h2 {
    font-size: 3rem;
  }

  .details {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }

  .details .col img {
    width: 2.5rem;
  }

  .details .col p {
    font-size: 1rem;
    margin: 0;
  }
}
