* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.card {
  width: 90%;
  max-width: max-content;
  background: linear-gradient(135deg, #3ed7ec, #feb47b);
  color: #fff;
  margin: 1.75rem auto;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 20px;
  flex: 1;
  font-size: 18px;
}

.search #searchBtn {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: -5rem;
  cursor: pointer;
}

.search #currentBtn {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search #searchBtn img {
  width: 1.75rem;
}

.search #currentBtn img {
  width: 3rem;
}

.weather {
  display: flex;
  flex-wrap: wrap;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 80px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 1.25rem;
}

.weather {
  display: none;
}

.error {
  margin-top: 1rem;
  text-align: left;
  padding-left: 1rem;
  display: none;
}

@media only screen and (max-width: 600px) {
  .card {
    width: auto;
    height: auto;
    padding: 1rem;
    margin: 2rem auto;
  }

  .search input {
    width: 100%;
  }

  .search button {
    width: 4rem;
  }

  .weather-icon {
    margin-top: 1rem;
  }
  .weather h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }

  .weather h2 {
    font-size: 3rem;
  }

  .details {
    gap: 0.5rem;
    max-width: 20rem;
    margin: 2rem auto;
  }

  .details .col img {
    width: 2.5rem;
  }

  .details .col p {
    font-size: 1rem;
    margin: 0;
  }
}
